{% extends 'ask_chat/base.html' %}
{% load static %}

{% block content %}
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-2 w-nav">
  </div>
  <div class="section-3 wf-section">
    <div class="container-5 w-container">

        <h1 id="w-node-_9c377abd-253c-3cf6-7e42-db86ee020ff7-3d6bebc3" class="heading-2">404|</h1>
        <br>
        <h1 id="w-node-_9c377abd-253c-3cf6-7e42-db86ee020ff7-3d6bebc3" class="heading-3">PAGE NOT FOUND</h1>
    </div>
    <a href="{% url 'index' %}" class="submit-button-5 w-button" style="width: 100px">GO HOME</a>
  </div>
  <div class="section-2 wf-section">
    <div class="container-3 w-container">
    </div>
  </div>
{% endblock %}
